.idea/*
build
dist
scalesim.egg-info
test_runs
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
topologies/*.zip

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

log_bankconflict*
log_*
scale_example_run*
run_test.sh
run_test2.sh
run_debug.sh
run_benchmark.sh
test
test_benchmark*
result_parser.py
test*
configs_test
benchmark_results
results/

plot_cycles_stacked.png
plot_dram_bw.png
plot_radar_opportunity.png
plot_util_vs_mapping.png
renamed_cmp_mapping_os_ws.png
renamed_cmp_ofmap_bw_os_ws.png
renamed_cmp_stall_os_ws.png
renamed_cmp_util_os_ws.png
renamed_summary_OS_vs_WS.csv
scale-sim-v2/
scalesim_layers_summary.csv